.navbar {
    display: flex;
    justify-content: space-around;
    margin: 1vh 1vh 1vh;
    align-items: center;
    min-height: 10vh;
    background: var(--dp24);
    color: white;
}

.navlinks {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

a {
    color: lime;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}